body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
	width:100%;
}


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: white; background: rgba(164, 245, 170, 0.29);}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.conec {
	width: 100px;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}


.btn {padding:10px 20px;}
.btn_red {background: #ED6347; color: #d43f3a;}

.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#4582B4; position:relative; padding:10px 20px; border-bottom:1px solid white; font-weight:bold;}
.popupHeader .modal_close {    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #4582B4;
    cursor: pointe;
    color: white;
    font-size: 16px;}

.popupBody {padding: 20px;
    height: auto;
    background:rgba(164, 245, 170, 0.29);
	width:330px;
	}
	


/* Social Login Form */
.social_login {width: 215px;}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#4582B4;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

#page {
  background-color:white;
  width : 65%;
  margin : auto ;
  border : 0.2em solid black;
  padding : 0.1em;
}

#entete {
    color : #980101;
    height: 154px;
    padding: 0em;
    border-collapse: separate;
}

#pied {
    clear : both;
    border : solid 0.2em #980101;
    margin-left : 18%;
    margin-top : 1em;
    padding:0.4em;
    padding: 0.2em;
    border-collapse: separate;
}

#nav {
    color: rgb(96,96,96);
    float: left;
    width: 16%;
}

#menuGauche {
    padding: 1em;
    margin-top : 0.8em;
    margin-bottom: 1em;
    background-color: #f1f2f4;
}

#contenu {
    border: none;
    background-color: rgba(164, 245, 170, 0.29);
	width: 100%;
	padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    /* permet de fixer une hauteur mini sur les navigateurs modernes */
    min-height: 27em;
    /* pour obtenir le même effet sur IE, sachant que si le contenu dépasse,
    il "poussera" la hauteur en ne respectant pas la norme.
    On se joue de ses lacunes ;-)
    */
    height: 27em;
}

/* pour rétablir le mauvais effet sur les nav. modernes */
html>body #contenu {
	width: auto;
    height: auto;
}

/* style à appliquer à la balise ul d'identifiant menulist */
ul#menuList {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 98%;
    font-size: 1em;
}

/* style à appliquer aux éléments de la balise ul d'identifiant menulist */
ul#menuList li {
    position: relative;
    margin: 0px;
    padding: 0px;
}

/* apparences des liens dans listes et sous-listes non numérotées */
ul#menuList a {
    padding: 0.5em;
    color: #4582B4;
    display: block;
    text-decoration: none;
    width: 80%;
}

ul#menuList a:hover {
    background: #e0e0e0;
    color: #4582B4;
}

#entete h1 {
    margin: 1em;
    margin-left: 6em;
    font-size: x-large;
    text-align: center;
}

#contenu pre {
    width: 95%;
    overflow: scroll;
}

#contenu h2 {
    font-size: large;
    text-align: left;
    margin: 0;
    margin-bottom: 0.5em;
}

.corpsForm {
    margin-bottom: 0em;
    width: 95%;
}

.piedForm {
    text-align: left ;
    margin-top: 0em;
}

a {
    color: white;
}



h1, h2, h3 {
    color: #4582B4;
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
    padding: 10px;
}

h2 {
    font-size: 0.8em;
    padding: 0.5em;
}

h3 {
    font-size: 1.6em;
}

h5 {
	color: #4582B4;
	font-size: 20px
}

table {
    font-size: 1em;
}

fieldset {
    margin-bottom: 10px;
    border: #ccc 1px solid;
}

fieldset legend {
    padding: 0 10px 0 10px;
    color: #666;
}

fieldset:hover {
    border-color: #666;
}

label {
    color: #4582B4;
    width: 92px;
}

label.form , label.formError {
    display: block;
    max-width: 160px;
    float: left;
    margin-left: 10px;
}

label.formError {
    color: red;
}

label.radio {
    display: inline;
}

label:hover {
    color: #4582B4;
}

input[type=radio], input[type=text], input[type=password],
input[type=checkbox], select, option, textarea {
    margin-left: 30px;
}

input[type=submit], input[type=reset] {
    margin-top: 15px;
    width: 120px;
    cursor: pointer;
}

input[type=text].readOnly {
    color: gray;
}

.erreur, .info {
    display: block;
    margin: 15px 0 15px 0;
    background-color: #f1f2f4;
    padding: 5px;
    width: 50%;
}

.erreur {
    color: red;
}

.info {
    color: #4582B4;
}


span.active {
    color: #4582B4;
    font-weight: bold;
}

table.recap {
    width: 66%;
}

td.h-entete {
    background-color: #e0e0e0;
    color: #4582B4;
    font-weight: bold;
    width: 20%;
    padding: 1px 10px 1px 5px;
}

td.h-valeur {
    background-color: #f0f0f0;
    color: #4582B4;
    padding: 1px 10px 1px 5px;
    width: 80%;
}

#objectList {
    margin : 10px 0 10px 0;
}

#objectList table {
    width: 80%;
}

#objectList th {
    text-align: left;
    background-color: #e0e0e0;
    color: #4582B4;
}

#objectList tr.impair {
    background-color: #f0f0f0;
}

#objectList tr.pair {
    background-color: #fafafa;
}

#objectList select {
    margin-left: 10px;
    width: 250px;
}

#crudButtons {
    margin: 10px 0 0 0;
}

#crudButtons input[type=submit] {
    margin-top: 1px;
    margin-left: 10px;
}

span.readOnly {
    margin-left: 30px;
}

#okCancelButtons {
    margin-left: 5px;
}

#okCancelButtons input[type=submit] {
    margin-left: 5px;
}

#Header {
	background: #4582B4;
	margin-top: -14px;
	width: 100%;

}

#Menu {
    width: 200px;
    margin-left: 5px;
    float: left;
}

#Content {
    margin-left: 200px;
}

#Footer {
	clear: both;
    background-color: #4582B4;
    margin: -15px 0px 0px 0px;
    color: white;
}

.titreEntete {
    font-weight: bold;
    font-size: 2em;
    color: #6699cc;
    float: left;
    width: 90%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}